@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ol,ul, input, textarea{ margin:0; padding:0; font-family:'微软雅黑'; font-size:12px; font-weight:normal;}
li{ list-style:none;}
a{ text-decoration:none; color:#666;}
img{ vertical-align:top; border:none;}/*清除ie图片的边距*/
input, textarea{ background:none; outline:none;}
textarea{ resize:none;}

a:hover{ text-decoration:underline;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.w1000{ width:1000px; margin:0 auto;}
