@charset "utf-8";
/* CSS Document */
body{ background:url(../img/123.jpg) no-repeat  center 55px;}
/*heer*/
.head{ background:#f8f7f7; min-width:1000px;}
.hd{ height:50px;}
.hd h1 a{ display:block; width:86px; height:36px; background:url(../img1/%E7%95%85%E6%B8%B8.png);}
.hd h1 { text-indent:-999em; margin-top:6px; margin-left:14px; padding-right:13px; border-right:1px solid #cecece;}

.head ul { height:50px; margin-right:10px;}
.head ul li{ line-height:50px; height:50px;}
.head ul .li1{ border-right:1px solid #e1e1e1;}
.head ul .li1 a{ font-size:12px; font-weight:bold; color:#4a4a4a; margin-left:25px;}
.head ul .li1 span{ width:7px; height:4px; background:url(../img1/pic.png) -150px 0; margin:23px 15px 0 5px;}
.head ul .li2{ border-left:1px solid #e1e1e1;}
.head ul .li3 a{font-size:12px; font-weight:bold; color:#4a4a4a; margin-right:10px;}
.head ul .li3 i{ width:24px; height:24px; background:url(../img1/pic.png) -100px 0; margin:11px 6px 0 10px;}
.head ul .li3 .i1{ background-position:-50px 0;}
.head ul .li3 .i2{ background-position:0 0;}
.tiao{ height:5px; background:url(../img1/tiao.png);}
/*header_main*/
.header_main { position:relative}
.header_main .main{ position:absolute; left:0; top:0; width:1000px; height:110px;}
.main h1 a{ display:block; width:186px; height:63px; background:url(../img1/logo.png); margin-top:21px; margin-left:3px;}
.main ul{ margin-top:35px;}
.main ul li{ padding:0 12px; text-align:center;}
.main ul li a h3{ font-size:16px; color:#bebebe;}
.main ul li a p{ font-size:12px; color:#bebebe;}
.main ul .li1{ padding-right:0px;}
/*download*/
.download{ height:110px;}
.download .down_l li .a1{ width:215px; height:110px; background:url(../img1/sprite.png) 0 -522px;}
.download .down_l li .a1:hover{ background-position: 0 -632px;}

.download .down_l li .a2{ width:101px; height:110px; background:url(../img1/sprite.png) -216px -522px;}
.download .down_l li .a2:hover{ background-position: -216px -632px;}

.download .down_l li .a3{ width:100px; height:110px; background:url(../img1/sprite.png) -317px -522px;}
.download .down_l li .a3:hover{ background-position: -317px -632px;}

.download .down_l li .a4{ width:100px; height:110px; background:url(../img1/sprite.png) -417px -522px;}
.download .down_l li .a4:hover{ background-position: -417px -632px;}

.download .down_l li .a5{ width:101px; height:110px; background:url(../img1/sprite.png) -517px -522px;}
.download .down_l li .a5:hover{ background-position: -517px -632px;}
.download .down_r{ width:383px;}
.download .down_r .sever{ width:361px; height:55px; background:url(../img1/sprite.png) -256px -104px no-repeat; margin-top:7px; margin-left:13px; position:relative;}
.download .down_r .sever .po{ position:absolute; left:94px; top:5px;}
.download .down_r .sever .po p{ font-size:14px; color:#adb9e0; line-height:22px;}
.download .down_r .sever .po a{ font-size:14px; color:#f00000;}

.download .down_r .sec{ height:43px; background:url(../img1/1.png); margin-top:4px; line-height:43px;}
.download .down_r .sec p{ color:#adb9e0; margin-left:7px;}
.download .down_r .sec p span{ padding:0 3px;}
.download .down_r .sec p a{ color:#f93d1a; text-decoration:underline; font-size:12px;}
.download .down_r .sec i{ width:14px; height:14px; background:url(../img1/2.png); margin:15px 31px 0 3px; cursor:pointer;}
.download .down_r .sec em{ font-size:12px; color:#adb9e0; font-style:normal;}
.download .down_r .sec .ff { margin-left:11px; margin-top:11px;}
.download .down_r .sec .ff span{ margin:0 11px 0 10px;}
.download .down_r .sec .ff .s1{ width:26px; height:21px; background:url(../img1/sprite.png) -250px -52px;}
.download .down_r .sec .ff .s2{ width:27px; height:21px; background:url(../img1/sprite.png) -293px -52px;}
.download .down_r .sec .ff .s3{ width:23px; height:21px; background:url(../img1/sprite.png) -339px -52px;}
/*ban*/
.ban_left{ width:616px; height:303px; position:relative;}
.ban_left img{ border:1px solid #443b4f;}
.ban_left ul{ position:absolute; right:0; bottom:10px; width:98px;}
.ban_left ul li{ width:15px; height:15px; border-radius:50%; background:#3a3e47; margin-right:3px; cursor:pointer;}
.ban_left ul .li1{background:#d0290a;}
.ban_left ul li:hover{background:#d0290a;}
.ban_left span{ width:27px; height:63px; display:block; background: url(../img/cyou_sprite.png) -120px -26px; position:absolute; left:10px; top:10px; cursor:pointer;}
.ban_left em{ width:27px; height:63px; display:block; background: url(../img/cyou_sprite.png) -120px -94px; position:absolute; left:10px; top:83px; cursor:pointer;}
.ban_right{ width:381px; height:304px; border-top:1px solid #322e3f; border-right:1px solid #322e3f; background:#322e3f;}
.ban_right .r_t{ width:381px; height:57px; background:url(../img/sprite.png) 0 -324px;}
.ban_right .r_t a{ width:93px; height:55px; text-align:center; line-height:55px; color:#fefefe; font-size:14px; font-family:"黑体" ;margin:0 1px;}
.ban_right .r_t .a1{ background:url(../img/btn_bg.png);}
.ban_right .r_t a:hover{ background:url(../img/btn_bg.png);}

.ban_right .r_c{ width:347px; height:35px; background:url(../img/sprite.png) 0 -453px; margin:17px 0 0 17px; text-align:center;}
.ban_right .r_c p a{ font-size:16px; color:#fe4100; line-height:35px;}

.ban_right .r_b{ margin-top:3px; margin-left:23px; padding-right:18px;}
.ban_right .r_b .li4 span{ font-size:14px; color:#9ca7ca; line-height:26px;}
.ban_right .r_b .li4 p{ font-size:14px; color:#9ca7ca; line-height:26px;}
.ban_right .r_b .li4 i{ font-size:14px; color:#9ca7ca; font-style:normal; line-height:26px;}
.ban_right .r_b .li5 a{  font-size:14px; color:#9ca7ca; line-height:26px;}
.ban_right .r_b .li5 span{ width:13px; height:13px; background:url(../img1/3.png); margin:7px 7px 0 0;}
/*活动*/
.active { margin-top:32px; margin-bottom:30px;}
.active img{ border:1px solid #433b4f; margin-right:8px;}
.active .ov{ width:1050px;}
/*职业介绍*/
.zhiye { margin-bottom:30px;}
.zhiye .zhanshi{ border:1px solid #433b4f; margin-right:20px;}
.zhiye .zhanshi .jieshao{ width:656px; height:59px; background:url(../img/sprite.png) 0 -384px;}
.zhiye .zhanshi .jieshao li{ width:130px; line-height:59px; text-align:center; margin-right:1px;}
.zhiye .zhanshi .jieshao li a{ color:#fff; font-size:16px; display:block;  width:130px;height:59px;}
.zhiye .zhanshi .jieshao li:hover{ background:url(../img/btn_bg2.png);}
.zhiye .zhanshi .jieshao .li6{ background:url(../img/btn_bg2.png); }
.zhiye .zhanshi .po{ width:656px; height:287px; position:relative;}
.zhiye .zhanshi .po .video{ position:absolute; bottom:32px; left:20px;}

.zhiye .zhongxin h2{ line-height:32px; font-size:20px; color:#f3ca90; margin-bottom:14px; padding-left:42px; background:url(../img1/huodong.png) no-repeat;}
.zhiye .zhongxin img{ width:319px; height:149px; border:1px solid #433b4f;}
.zhiye .zhongxin .nv{ width:319px; height:149px; position:relative;}
.zhiye .zhongxin .nv p{ position:absolute; left:0; bottom:-1px; background:rgba(101,59,165,0.5); font-size:14px; height:36px; line-height:36px; padding-left:6px; color:#fff; width:314px;}

.zhiye .zhongxin ul{ margin-top:10px;}
.zhiye .zhongxin ul li{ line-height:25px; height:25px; width:319px; background:#2a2634; border-radius:5px; margin-bottom:3px;}
.zhiye .zhongxin ul li span{ border:4px solid transparent; border-left:4px solid #bbb7d8; margin:9px 12px 0 11px;}
.zhiye .zhongxin ul li p a{ color:#a6b2d8; font-size:12px; }
.zhiye .zhongxin ul li i{ width:55px; height:25px; background:#544f63; color:#98a1c4; text-align:center; line-height:25px; font-style:normal; border-radius:5px;}
/*con*/
.con{ margin-bottom:}
.con .con_l{ margin-right:19px;}
.con .con_l .con_l_t{ width:215px; height:189px; background:url(../img1/8.png);}
.con .con_l .con_l_t h4{ font-size:16px; text-align:center; color:#dbca90; line-height:46px; margin-bottom:13px;}
.con .con_l .con_l_t h4 a{ color:#dbca90;}
.con .con_l .con_l_t ul{ width:195px; padding-left:20px;}
.con .con_l .con_l_t ul li a{ color:#9587ab;}
.con .con_l .con_l_t ul li{ width:88px; line-height:28px; margin-left:4px; background: url(../img1/79.png) left no-repeat; padding-left:4px;}

.con .con_l .con_l_c { width:215px; height:262px;}
.con .con_l .con_l_c .mg1{ width:215px; height:262px; margin-top:23px; }
.con .con_l .con_l_c h3{ width:205px; height:36px; text-align:center; line-height:36px; color:#b1a1ca; font-size:16px; background: url(../img1/88.png); margin-top:5px; margin-bottom:20px;}


.con .con_c h4{ line-height:31px; font-size:20px; color:#f3ca90; padding-left:50px; background:url(../img1/xinxi.png) no-repeat; margin-bottom:11px;}
.con .con_c .ct .jiaoliu div{ width:104px; height:46px;}
.con .con_c .ct .jiaoliu a{ width:104px; height:46px; text-align:center; line-height:46px; font-size:14px; color:#a295b7; border-top:1px solid #433b4f; border-right:1px solid #433b4f;}
.con .con_c .ct .jiaoliu .lis:hover{ background:#322b3c;}
.con .con_c .ct .jiaoliu .div1{ position:relative; background:#322b3c; border-left:1px solid #433b4f;}
.con .con_c .ct .jiaoliu .div1 .div2{ position: absolute; left:-1px; top:46px; width:422px; height:256px; background:#322b3c; border:1px solid #433b4f;}
.con .con_c .ct .jiaoliu span{ position:absolute; bottom:-1px; left:0; background:#322b3c; height:1px; width:104px;}
.con .con_c .ct .jiaoliu .div1 .div2 img{ margin:23px 18px; 0 15px;}
.con .con_c .ct .jiaoliu .div1 .div2 a{ border:none;}
.con .con_c .ct .jiaoliu .div1 .div2 ul{ margin-top:5px;}
.con .con_c .ct .jiaoliu .div1 .div2 ul li{ font-size:14px; height:26px; line-height:26px;}
.con .con_c .ct .jiaoliu .div1 .div2 ul li a{ color:#a295b7;}
.ctt{ margin-top:294px;}

.con .con_r  h2 { font-size:16px; color:#f2c27e; line-height:31px; padding-left:43px; background:url(../img1/12.png) no-repeat left;}
.con .con_r{ margin-left:128px;}
.con .con_r .youxi .ziliao { width:320px; height:303px; border:1px solid #4b3f5c; margin-top:10px;}
.con .con_r .youxi .ziliao span{ height:26px; padding:0 7px; line-height:26px; color:#ededee; font-size:14px; background:#594f67; margin:16px 19px 0 0; position:relative;}
.con .con_r .youxi .ziliao span em{ position:absolute; right:-8px; top:8px; width:8px; height:10px; background:url(../img1/14.png);}
.con .con_r .youxi .ziliao ul li{ height:58px; line-height:58px; border-bottom:1px dashed #594f67;}
.con .con_r .youxi .ziliao ul{ padding:0 16px;}
.con .con_r .youxi .ziliao ul li i{ font-style:normal; color:#594f67;}
.con .con_r .youxi .ziliao ul li a{  color:#9587ab; font-size:14px; padding:0 4px;}
.con .con_r .youxi .ziliao ul .li9{ border:none;}
.con .con_r .youxi .ziliao input{ width:279px; height:39px; background:#26212d; border:3px solid #4b3f5c; font-size:22px; color:#b1a1ca; cursor:pointer; margin-left:17px;}

.con .con_r .shijue{ margin-top:39px;}
.con .con_r .shijue h2{ margin-bottom:10px;} 
.con .con_r .shijue .sp a{ width:104px; height:47px; background:#1b1924; border-top:1px solid #433b4f; border-right:1px solid #433b4f; line-height:47px; text-align:center; font-size:14px; color:#a295b7;}
.con .con_r .shijue .sp .a6{ border:none; border-bottom:1px solid #433b4f; margin-top:1px; width:110px;}
.con .con_r .shijue .sp .a7{ border:1px solid #433b4f;}
.con .con_r .shijue .sp .a8{ border-right:none; border-left:1px solid #433b4f; background:#322b3c; border-bottom:1px solid #322b3c;}
.con .con_r .shijue .sp a:hover{border-right:none; border-left:1px solid #433b4f; background:#322b3c; border-bottom:1px solid #322b3c;}
.con .con_r .shijue .ping{ width:321px; height:256px; background:#322b3c; border-left:1px solid #433b4f; border-bottom:1px solid #433b4f; position:relative;}
.con .con_r .shijue .ping img{ margin-top:23px; margin-left:16px;}


.di{ margin-top:85px;}
.caidai{ height:5px; background:url(../img1/45.png); }
.xia{ height:100px; background:#181818;}
.xia{ text-align:center;}








