@charset "utf-8";
/*清除默认样式*/
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,dt,span,strong,i,b,em,img,a{ margin:0; padding:0; border-style:none; }
body{ font-size:12px; }
li{ list-style:none; }
a{ text-decoration:none; }
.clearFix:after{ content:''; clear:both; display:block; }
.clearFix{ zoom:1; }
img{ display:block; }
/*清除默认样式*/
.content_03_right .sports2{ margin-top:0; margin-bottom:0; }
