@charset "utf-8";
/*common*/
body{ width:100%; height:100%; background:url(../image/0f11e98c50efdb6b8a2353f3e82c5b3c_big.jpg) repeat-x;}
/*头部*/
.box{ width:1000px; margin:0 auto; }
.header{ height:48px; padding:23px 0 19px; }
h1{ float:left; margin-left:160px; text-indent:-9999em; width:132px; height:43px; }
h1 a{ display:block; width:100%; height:100%; background:url(../image/qqLogoFilter.png) no-repeat; }
.search{ float:left; padding:5px 0 0 42px; width:423px;}
.search_text{ float:left; width:286px; height:35px; border:1px solid #c1c4cb; border-right:none; background:#fff; }
.search_text_l{ float:left; font-size:14px; font-weight:bold; width:48px; line-height:35px; color:#a8a8a8; padding:0 10px; background:url(../image/1.png) no-repeat 48px 13px; }
.input_text{ float:left; border:none 0; outline:none; width:175px; height:25px; padding:4px; }
.search_text_r{ float:left; width:35px; height:35px; background:url(../image/3.png) no-repeat;}
.search_button{ float:left; width:81px; height:37px; background:#5da4e6; color:#fff; font-size:14px; font-weight:bold; border:none; }
.search_right{ float:left; margin-left:50px; margin-top:6px; }
.search_right a{ float:left; }
.search_right_a1{ background:url(../image/loginGrayIcon.png) no-repeat 0 0; width:17px; height:39px; margin-right:14px; }
.search_right_a2{ background:url(../image/loginGrayIcon.png) no-repeat -33px 0; width:25px; height:39px; margin-right:16px; }
.search_right_a3{ background:url(../image/loginGrayIcon.png) no-repeat -73px 0; width:21px; height:39px; margin-right:16px; }
.search_right_a4{ background:url(../image/loginGrayIcon.png) no-repeat -111px 0; width:22px; height:39px; margin-right:16px; }
.search_right_a5{ background:url(../image/loginGrayIcon.png) no-repeat -154px 0; width:39px; height:39px; }
/*导航*/
.nav{ width:973px; height:51px; background:url(../image/chanelNavBeta2_141013.jpg) no-repeat; padding:14px 0 0 27px; overflow:hidden; margin-bottom:12px; }
.nav .nav_list{ float:left; width:146px; padding-bottom:13px;}
.nav .nav_list1{ float:left; width:96px;}
.nav .nav_list a{ color:#fff; padding:3px; margin: 0 4px 0 3px; }
.nav .nav_list .nav_list_a { font-weight:bold; }
.nav_img{ position:relative; width:100%; margin-bottom:12px; }
.nav_img_l{ float:left; margin-right:20px; }
.nav_img_r{ float:left; }
.housekeeper{ float:left; width:103px; height:145px; border:1px solid #dbdbdb; background:#fff; position:absolute; right:-113px; top:-77px; }
.housekeeper a{ color:#6b6b6b; }
.housekeeper .housekeeper_a1{ display:block; margin:22px 0 5px 11px; }
.housekeeper .housekeeper_div{ width:100%; line-height:17px; text-align:center; }
.housekeeper .housekeeper_div .housekeeper_a2{ color:#6b6b6b; }
.housekeeper .housekeeper_div .housekeeper_a3{ color:#6b6b6b; }
.housekeeper .housekeeper_a4{ position:absolute; right:-1px; top:-1px; width:19px; height:19px; background:url(../image/4.png) no-repeat;}
/*内容*/
.content{ font-size:14px; width:1000px; }
.content .content_01{ width:100%; height:970px; }
.content li{ line-height:28px; }
.content a{ color:#172c45;}
.content1{ width:700px; float:left; margin-right:20px; overflow:hidden; }
.content1 .bold{ font-weight:bold; }
.content1 .bold a{ color:#3b639f; }
.bold_span1{ display:inline-block; width:13px; height:13px; background:url(../image/iconNew.png) no-repeat 0 -50px; margin:0 3px 0;}
.bold_span2{ display:inline-block; width:13px; height:13px; background:url(../image/iconNew.png) no-repeat 0 -100px; margin:0 3px 0;}
.bold_span3{ display:inline-block; width:26px; height:16px; background:url(../image/iconNew.png) no-repeat 0 -151px; margin:0 3px 0;}
.spots{ width:100%; margin-top:11px; margin-bottom:7px; overflow:hidden; }
.spots .spots_a{ float:left;}
.spots .spots_h3{ float:left; width:180px; font-size:14px; line-height:26px; margin-left:12px; }
.spots .spots_h3 a{ color:#3b639f;}
.content1_left{ float:left; width:350px; margin-right:20px; }
.content1_left_1{ border-top:1px solid #c8dcf2; width:100%; }
.content1_left_1_h h2{ float:left; font-size:14px; padding:9px 19px 14px 18px; color:#0873c0; }
.content1 .content1_left_1_h h2 a{ color:#0873c0; }
.content1 .content1_left_1 .content1_left_1_a{ float:right; margin-top:5px; font-size:12px; }
.content1 .content1_left_1 .content1_left_1_a span{ display:inline-block; width:16px; height:16px; background:url(../image/rainstorm.png) no-repeat;}
.content1_right{ float:left; width:330px; }
.content1_right_1{ width:100%; border-top:1px solid #c8dcf2; margin-bottom:18px; }
.content1_right_1 h2{ width:60px; font-size:14px; padding:9px 19px 14px 18px; color:#0873c0; }
.content1_right_1 .content1_right_1_li{ width:100%; text-align:center; font-weight:bold; }
.content1_right_1 .content1_right_1_li a{ color:#3b639f; }
.content1_right_1 .content1_right_1_l{ float:left;}
.content1_right_1 .content1_right_1_r{ float:right; color:#798ba5; }
.content1_left_1 .content1_left_1_a{ margin-right:10px;}
.content1_left_1 .content1_left_1_a a{ display:inline-block; width:12px; height:12px; margin-right:10px; margin-top:5px; }
.content1_left_1 .content1_left_1_a .content1_left_1_a_a1{ background:url(../image/qqbg_1.5.5.png) no-repeat 0 -260px; }
.content1_left_1 .content1_left_1_a .content1_left_1_a_a2{ background:url(../image/qqbg_1.5.5.png) no-repeat -60px -260px; width:13px; }
.content1_left_1 .spots .spots_a1{ float:left; width:145px; height:80px; margin-right:20px; }
.content1_left_1 .spots .spots_a2{ float:left; width:145px; height:80px; }
.content1_left_1 .spots .spots_a1_a{ display:inline-block; width:100%; font-size:12px; text-align:center; margin:8px 0 10px;}
.content1_left_1 ul .spots1{ margin-bottom:31px;}
.content1_empty{ margin-top:18px;}
.content1 ul .spots2{ width:100%; padding:4px 0 8px; }
.content1 ul .spots2 .spots_a{ float:left;}
.content1 ul .spots2 .spots_h3{ float:left; width:187px; margin-left:15px; margin-bottom:6px; }
.content1 ul .spots2 .spots_h3 h3 a{ font-size:14px; line-height:22px; color:#3b639f; }
.content1 ul .spots2 .spots_h3 .spots_h3_a{ font-size:12px; color:#2d374b; }
.content2{ float:left; width:280px; }
.content2 .content2_list{ width:278px; height:238px; border:1px solid #d2e1f1; background:url(../image/productNavBg1.5.516.png) no-repeat right; position:relative; margin-bottom:12px;}
.content2 .content2_list .list_positon{ position:absolute; left:-14px; top:-1px; width:13px; height:37px; background:url(../image/5.png) no-repeat;}
.content2 .content2_list .content2_list_div1{ width:238px; height:23px; padding:13px 0 0 10px; background:#fff;}
.content2 .content2_list div a{ color:#294c7f; margin-right:10px; }
.content2 .content2_list .content2_list_div2{ width:237px; height:23px; padding:14px 0 0 10px; background:#f5f8fc;}
.content2 .content2_list .content2_list_div3{ width:237px; height:52px; padding:12px 0 0 10px; background:#fff;}
.content2 .content2_list .content2_list_div3 a{ display:inline-block; margin-bottom:10px; }
.content2 .content2_list .content2_list_div4{ width:237px; height:50px; padding:12px 0 0 10px; background:#f5f8fc;}
.content2 .content2_list .content2_list_div4 a{ display:inline-block; margin-bottom:10px; }
.content2 .content2_list .content2_list_div5{ width:237px; height:24px; padding:14px 0 0 10px; background:#fff;}
.content2 .content2_list1{ width:264px; height:179px; border:1px solid #d2e1f1; margin-top:12px; padding:10px 0 0 14px; }
.content2_list1 .content2_list1_top h3{ float:left; font-size:14px; margin-right:40px; }
.content2_list1 .content2_list1_top h3 a{ color:#0873c0; }
.content2_list1 .content2_list1_top .stock{ float:left;}
.content2_list1 .content2_list1_top .stock .text{ float:left; width:108px; height:17px; border:1px solid #d4d4d4; }
.content2_list1 .content2_list1_top .stock .submit{ float:left; width:35px; height:21px; border:none; background:url(../image/qqbg_1.5.5.png) no-repeat -600px -160px;}
.content2_list1 .content2_list1_cc{ margin-top:17px; margin-bottom:5px;}
.content2_list1 .content2_list1_cc a{ padding:5px 13px 5px 11px; border-right:1px solid #dde7f2; color:#3b639f;}
.content2_list1 .content2_list1_bt a{ float:left; width:168px; height:68px; border:1px solid #d2e0ef; margin-right:9px;}
.content2_list1 .content2_list1_bt .content2_list1_bt_div{ float:left; width:80px; margin-bottom:10px; }
.content2_list1 .content2_list1_bt .content2_list1_bt_div p{ font-size:12px; line-height:20px; }
.content2_list1 .content2_list1_bt .content2_list1_bt_div strong{ font-size:15px; line-height:33px; color:#cc0000;}
.content2_list1 .content2_list1_bt .content2_list1_bt_div span{ font-size:10px; line-height:19px; color:#cc0000;}
.content2 .content2_list2{ width:263px; height:166px; border:1px solid #d2e1f1; margin-top:12px; padding:15px 0 0 15px;}
.content2_list2 .content2_list2_top{ margin-bottom:6px; }
.content2_list2 .content2_list2_top h3{ width:60px; font-size:14px; color:#0873c0; padding-bottom:11px; }
.content2_list2 .content2_list2_top .list2_top_div{ width:270px; overflow:hidden; }
.content2_list2 .content2_list2_top .list2_top_div a{ float:left; width:50px; height:50px; background:url(../image/astroIcon.png) no-repeat 0 -100px; }
.content2_list2 .content2_list2_top .list2_top_div2{ float:left; width:200px; padding-left:6px;}
.content2_list2 .content2_list2_top .list2_top_div2 select{ margin-bottom:9px; }
.content2_list2 .content2_list2_top .list2_top_div2 p{ font-size:12px; color:#000;}
.content2_list2 .content2_list2_top .list2_top_div2 span{ position:relative; width:80px; height:13px; background:url(../image/yunshi.png) no-repeat 0 0; display:inline-block; }
.content2_list2 .content2_list2_top .list2_top_div2 span i{ position:absolute; left:0; top:0; width:47px; height:13px; background:url(../image/yunshi.png) no-repeat 0 -27px; }
.content2_list2 .content2_list2_p{ font-size:14px; color:#000; width:250px; line-height:26px;  }
/*content_01 hover*/
.header .search .search_text .search_text_l:hover{ background:url(../image/2.png) no-repeat 48px 13px;}
.header .search_right .search_right_a1:hover{ background:url(../image/loginGrayIcon.png) no-repeat 0 -41px; }
.header .search_right .search_right_a2:hover{ background:url(../image/loginGrayIcon.png) no-repeat -33px -41px; }
.header .search_right .search_right_a3:hover{ background:url(../image/loginGrayIcon.png) no-repeat -73px -41px; }
.header .search_right .search_right_a4:hover{ background:url(../image/loginGrayIcon.png) no-repeat -111px -41px; }
.header .search_right .search_right_a5:hover{ background:url(../image/loginGrayIcon.png) no-repeat -154px -41px; }
.nav .nav_list a:hover{ background:#cae1ee; color:#0d519c;}
.content ul .spots .spots_h3:hover{ text-decoration:underline;}
.content1 ul .spots2 .spots_h3 a:hover{ text-decoration:underline;}
.content1_left_1_h h2:hover{ border-top:2px solid #4fa4e1; padding-top:7px; text-decoration:underline; }
.content ul li a:hover{ color:#cd0200; text-decoration:underline;}
.content1_right_1 h2:hover{ text-decoration:underline; }
.content1_right_1 .content1_right_1_r:hover{ color:#798ba5; }
.content1_right_1 .content1_right_1_li a:hover{ color:#3b639f; }
.content1_left_1 .spots .spots_a1_a:hover{ color:#cd0200; text-decoration:underline;}
.content1_left_1 .content1_left_1_a .content1_left_1_a_a1:hover{ background:url(../image/qqbg_1.5.5.png) no-repeat -30px -260px;}
.content1_left_1 .content1_left_1_a .content1_left_1_a_a2:hover{ background:url(../image/qqbg_1.5.5.png) no-repeat -90px -260px;}
.content2 .content2_list div a:hover{ text-decoration:underline; }
.content2_list1 .content2_list1_top h3 a:hover{ text-decoration:underline; }
.content2_list1 .content2_list1_cc a:hover{ background:#458fce; color:#fff;}
.content2_list1 .content2_list1_a:hover{ color:#cd0200; text-decoration:underline; }
.content2_list2 .content2_list2_p a:hover{ text-decoration:underline; }
.content2_list2 .content2_list2_top h3:hover{ text-decoration:underline; }
/*content_02*/
.content_02 { width:100%; height:102px; margin-top:12px; overflow:hidden; }
.content_02 a{ float:left; }
.content_02 .content_02_a{ margin-right:20px; }
/*content_02_2*/
.content_02_2 { width:100%; height:102px; overflow:hidden; }
.content_02_2 a{ float:left; }
.content_02_2 .content_02_a{ margin-right:20px; }
/*content_03*/
.content_03{ width:100%; margin-bottom:22px; overflow:hidden; }
.content_03_left{ float:left; width:660px; border-top:1px solid #6daaea; margin-right:20px; }
.content_03 h3{ font-size:14px; width:100%; line-height:32px; color:#0873c0; }
.content_03 h3 a{ color:#0873c0; }
.content_03 h3 a:hover{ text-decoration:underline;}
.content_03_left_div{ width:100%; }
.content_03_left_div .content_03_ul1{ float:left; width:340px; }
.content_03_left_div .content_03_ul2{ float:left; width:320px; margin-top:5px; }
.content_03_right{ float:left; width:320px; border-top:1px solid #6daaea; overflow:hidden; }
.content_03_right .content_03_right_ul{ margin-top:-10px; }
.content_03_right ul .spots .spots_a{ margin-right:20px;}
.spots_a img{ width:108px; height:70px; }
.spots_b{ float:left; margin-right:20px; }
.content_03 .content_03_right1{ margin-right:20px; }
.content_03_right ol{ width:320px; }
.content_03_right ol li{ float:left; margin-right:20px; width:60px; }
.content_03_right ol li a{ font-size:12px; width:60px; text-align:center; line-height:22px; display:block; }
/*content_04*/
.content_04{ width:100%; border-top:1px solid #6daaea; overflow:hidden; margin-bottom:24px; }
.content_04_top h3{ float:left; font-size:14px; line-height:30px; color:#0873c0;}
.content_04_top a{ float:right; width:28px; height:6px; background:url(../image/6.png) no-repeat; margin:17px 12px 0 0;}
.content_04 ul{ width:1008px; }
.content_04 ul li{ float:left; width:160px; margin-right:8px; margin-top:10px; }
.content_04 ul li p{ text-align:center; line-height:32px; font-size:12px; }
.content_03_right .red{ color:#bd0a01; }
/*footer*/
.footer{ width:100%; margin-top:12px;}
.footer .footer_top{ width:100%; text-align:center; font-size:12px; line-height:24px; color:#515151; }
.footer .footer_top a{ color:#515151; }
.footer .footer_top .footer_top_a{ color:#bd0a01; }
.footer .footer_top a:hover{ color:#bd0a01; text-decoration:underline; }
.footer .foot_bottom{ margin:13px 0; width:100%; margin-left:26px;}
.footer .foot_bottom li{ float:left; margin-right:12px;}