@charset "UTF-8";
/**
 * @info	当当网求职问答
 * @authors shilu
 * @date    2014-10-31
 */
.step{width:100%;height:100%;}
/* 引导页 */
#startPage{background:yellow;position: absolute;z-index: 998;bottom:0;-webkit-transition:all .3s ease-out;background:#e7242e;overflow:auto;}
#startPage.on{bottom:100%;}
.one_logo{background:url(../img/one_logo.png) no-repeat bottom center #fff;height:328px;}
.message_point{color:#fff;font-size:28px;line-height: 54px;padding:95px 0 103px 136px;}
.btn{color:#fff;background:#e42630;background: -webkit-gradient(linear, left top, left bottom, from(#ec2f3b), to(#e6262e));text-align: center;border-radius:10px;}
#enterBtn{line-height: 133px;font-size: 30px;display:block;margin:0 auto;border:2px solid #fac1c3;border-bottom:1px solid #fa999a;border-radius:7px;width:426px;-webkit-box-shadow:inset 0 0 20px #fac1c3;margin-bottom:50px;-webkit-box-shadow:inset 0 0 20px #fac1c3;}
/* 答题页 */
#wrap{position: absolute;z-index: 997;color:#fff;font-size: 22px;background:#fff;}
#wrap > div{width:100%;min-height:100%;position:relative;/* padding:20px 20px 100px 20px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; */}
.gifImg{position: absolute;bottom:0;left:48px;background:url(../img/bottom.gif) no-repeat;background-size:100% 100%;width:221px;height:156px;z-index: 10}
.content{padding:40px 48px 206px;}
#wrap h3{font-size: 38px;color:#404040;line-height: 42px;font-weight: normal;margin-bottom:56px;/* max-height:84px; */overflow: hidden;}
#wrap p{font-size: 30px;}
#wrap ul li{background:#f8f8f8;border-radius: 10px;line-height: 66px;line-height:34px;font-size:30px;margin-top:17px;color:#808080;padding:16px 20px;}
#wrap ul li.active{background:#ea1a15;background: -webkit-gradient(linear, left top, left bottom, from(#ff665a), to(#f62a22));color:#fff;}
#wrap .step1 ul li{text-align: left;padding-left:200px;}
#wrap .btn{position: absolute;right:48px;bottom:48px;width:196px;line-height: 66px;background:red;font-size: 36px;border-top:1px solid #ea544d;-webkit-box-shadow:inset 0 0 20px #fac1c3,6px 6px 0 #91121a;background-image:url(../img/btn_arrow.png);background-repeat: no-repeat;background-position: 131px center;text-align: left;text-indent: 53px}
#wrap #resuleBtn{font-size: 32px;width:596px;right:22px;border-radius:33px;background-image: none;text-align: center;text-decoration: underline;bottom:173px;text-indent:0;z-index: 11}
#resuleBtn span{background:url(../img/arrow.png) no-repeat;width:54px;height:41px;position: absolute;top:100%;left:164px;}
/* public  logo */
.two_logo{background:url(../img/two_logo.png) no-repeat center 9px #e71a2f;height:74px;border:1px solid #ec5159;padding-top:111px;}
.logoText{font-size: 36px;color:#fff;text-align: center;}
/* 分享页 */
#share{position: relative;}
#share span{position: absolute;background-repeat: no-repeat;}
.share_top{z-index:6;background-image:url(../img/qiqiu.png);width:385px;height:403px;top:5.67%;left:127px;-webkit-animation:start 1s infinite ease-in;}
.share_bottom{z-index: 5;background-image:url(../img/share_bg.png);width:461px;height:547px;top:35.12%;right:107px;}
.share_bg{background:#efefef;height:174px;background:#efefef;background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#fefefe));}
@-webkit-keyframes start {
		0% {-webkit-transform: translateY(0);}
		50% {-webkit-transform: translateY(-12px);}
		100% {-webkit-transform: translateY(0);}
	}
/* 结果页 */
#reault h3{font-size: 36px;color:#e7242e;margin-bottom:0;}
#reault .content > div{overflow:hidden;width:440px;margin:0 auto;}
