@charset "utf-8";
/*************************************************************************header*/
.hd{ height:70px; }
.hd_box{ width:1240px; height:100%; margin:0 auto; }
.hd_box h1{ width:150px; height:100%; margin-right:191px; }
.hd_box h1 a{ display:block; width:100%; height:100%; background:url(../images/t010b3d243bfdf90c3f.png) 0 14px no-repeat; text-indent:-9999em; }
.hd_box form{ width:500px; height:38px; padding-top:18px; margin-right:89px; }
.hd_box .fm{ width:488px; height:38px; background:#eee; padding-left:14px; border-radius:1px; }
.hd_box .fm .txt{ border:none; outline:none; background:#eee; width:448px; height:36px; }
.hd_box .fm .sbt{ width:38px; height:38px; border:none; background:url(../images/t01a4d712cddb0461df.png) no-repeat; }
.column li{ float:left; height:30px; margin-top:27px; }
.column li a{ display:block; padding-left:30px; color:#666666; height:30px; line-height:22px; background:url(../images/t018cbe1aa199ec4d23.png) no-repeat; }
.column li .column1{ background-position:0 0;}
.column li .column2{ background-position:0 -200px;}
.column .cln{ position:relative; }
.column li .column2_div{ display:none; width:400px; height:200px; background:#fff; border:1px solid #fd8d4e; border-radius:10px; position:absolute; left:-187px; top:35px; }
.column li .column3{ background:url(../images/t018cbe1aa199ec4d23.png) 0 -400px no-repeat;}
.column li .column1:hover{ background-position:0 -100px;}
.column li .column2:hover{ background-position:0 -300px;}
.column li .column3:hover{ background-position:0 -500px;}
/***************************************************************************nav*/
.nav{ border-top:2px solid #fd8d4e; height:43px; }
.nav_box{ width:1240px; margin:0 auto; }
.nav_box ul li{ float:left; font-size:15px; }
.nav_box ul li a{ color:#666666; }
.nav_box ul li a.active{ color:#fd8d4e; }
.nav_box ul li a:hover{ color:#fd8d4e; }
.nav_box .nav_left li{ margin:14px 27px 0 0; }
.nav_box .nav_right li{ margin:15px 19px 0 0; }
.nav_box .nav_left .nav_left_li{ padding-left:13px; background:url(../images/t013b6c5f636b718d92.png) 0 8px no-repeat; margin-left:-18px; }
/************************************************************************banner*/
.banner{ width:100%; height:485px; overflow:hidden; position:relative; margin:0 auto; }
.banner .hot a{ display:none; }
.banner .hot a.active{ display:block; }
.banner .hot a img{ width:100%;}
.banner ul li{ display:none; position:absolute; left:50px; top:290px; height:64px; font-weight:bold; font-size:36px; color:#fff; text-shadow:3px 3px 1px #000; }
.banner ul li .little{ font-size:17px; }
.banner ul li.active{ display:block; }
.banner .pic{ position:absolute; left:50px; bottom:10px; }
.banner .pic .pic_a{ width:120px; height:68px; position:relative; float:left; margin-right:20px; }
.banner .pic .pic_a a{ display:block; }
.banner .pic .pic_a .bg{ width:100%; height:100%; position:absolute; left:0; top:0; background:#000; opacity:0.5; }
.banner .pic .pic_a .bg.active{ display:none; }
.banner .pic .pic_a .border{ display:none; width:114px; height:62px; position:absolute; left:0; top:0; border:3px solid #fd8d4e;}
.banner .pic .pic_a .border.active{ display:block; }
/***********************************************************************content*/
.content{ width:100%; background:#f4f4f4; position:relative; }
.content .ct{ width:1240px; margin:0 auto; padding-top:40px; }
.content .ct .ct1{ margin-bottom:40px; }
.ct_jiqimao{ display:none; }
.ct_jiqimao.active{ display:block; }
.ct1 .ct_left{ width:974px; overflow:hidden; }
.ct1 .ct_left h3{ height:33px; background:url(../images/t01407ddee48c709fc3.png) no-repeat; margin-bottom:20px; }
.ct1 .ct_left h3 a{ margin-left:210px; line-height:50px; color:#fd8d4e; font-weight:normal; }
.ct1 .ct_left .ct_l_main{ width:100%; height:308px; position:relative; overflow:hidden; }
.ct1 .ct_left .ct_l_main .ct_l_main_ct{ width:2000px; height:100%; }
.ct1 .ct_left .ct_l_main .left{ position:absolute; left:0; top:100px; width:45px; height:80px; background:url(../images/t01e4a9d3102ad919c9.png) 0 -160px no-repeat;}
.ct1 .ct_left .ct_l_main .left:hover{ background-position: 0 -240px;}
.ct1 .ct_left .ct_l_main .right:hover{ background-position: 0 -80px;}
.ct1 .ct_left .ct_l_main .right{ position:absolute; right:0; top:100px; width:45px; height:80px; background:url(../images/t01e4a9d3102ad919c9.png) 0 0 no-repeat;}
.ct_left .main_one{ position:relative; float:left; height:308px; overflow:hidden; }
.ct_left .main_one_t{ width:100%; height:246px; position:relative; }
.ct_left .main_one_t .one_bg{ position:absolute; left:0; bottom:0; width:100%; height:36px; background:#000; opacity:0.5; filter:alpha(opacity=50);}
.ct_left .main_one_t .one_ct{ position:absolute; left:0; bottom:0; line-height:36px; width:100%; text-align:center; color:#fff; }
.ct_left .main_one_t .one_ct strong{ color:#e75d31; font-size:14px; }
.ct_left .main_one_b{ width:100%; height:53px; padding-top:9px; background:#fff; color:#333; }
.ct_left .main_one_b p{ font-size:14px; line-height:25px; padding-left:10px; }
.ct_left .main_one_b .note{ color:#999; }
.ct_left .main_one .main_bg{ display:none; }
.ct_left .main_one .main_bg.active{ display:block; }
.ct_left .main_one .main_one_bg{ position:absolute; left:0; top:0; width:100%; height:246px; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct_left .main_one .main_one_ct{ position:absolute; left:0; top:0; width:100%; height:246px; color:#fff; }
.ct_left .main_one .main_one_bt{ position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-50px; width:60px; height:60px; background:url(../images/t01925d53c7bd381a67.png) no-repeat; }
.ct_left .main_one .main_one_ct h4{ font-size:16px; margin-top:35px; }
.ct_left .main_one .main_one_ct .wujiaoxing{ line-height:45px; }
.ct_left .main_one .main_one_ct span{ display:inline-block; width:16px; height:16px; background:url(../images/t01d3bcbccd2375d53e.png) 0 0 no-repeat;}
.ct_left .main_one .main_one_ct span.active{ background-position: 0 -34px; }
.ct_left .main_one .main_one_ct p{ line-height:25px; white-space:nowrap; overflow:hidden; color:#ccc; }
.ct_left .main_one .main_one_ft{ position:absolute; left:0; bottom:0; width:100%; height:62px; background:#87c556; color:#fff; font-size:18px; text-align:center; }
.ct_left .main_one .main_one_ft .main_one_ft_bt{ display:block; width:30px; height:30px; background:url(../images/t012323718357d6d14e.png) no-repeat; margin-top:15px; }
.ct_left .main_one .main_one_ft .main_one_ft_txt{ margin:17px 0 0 5px; }
.ct_right{ width:240px; }
.ct_right h3{ font-size:24px; font-weight:normal; margin-bottom:23px; }
.ct_right .movie li{ width:100% -13px; padding-left:13px; height:34px; line-height:34px; font-size:14px; overflow:hidden; }
.ct_right .movie li span{ float:left; width:149px; }
.ct_right .movie li em{ float:left; font-style:normal; font-size:12px; color:#aba099; }
.ct_right .movie li em:before{ content:url(../images/t01f3aaf7cf737877f0.png); padding-right:11px; }
.ct_right .movie li.active{ display:none; }
/****************************************************************************/
.ct_right .movie p{ position:relative; width:240px; height:138px; display:none; }
.ct_right .movie p .ct_r_bg{ position:absolute; left:0; bottom:0; width:100%; height:24px; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct_right .movie p .ct_r_txt{ position:absolute; left:0; bottom:0; color:#fff; }
.ct_right .movie p .ct_r_txt span{ float:left; width:160px; padding-left:13px; line-height:24px; }
.ct_right .movie p .ct_r_txt font{ float:left; width:125px; padding-left:46px; line-height:24px; }
.ct_right .movie p .ct_r_txt em{ float:left; font-style:normal; line-height:24px; }
.ct_right .movie p .ct_r_txt em:before{ content:url(../images/t01f3aaf7cf737877f0.png); padding-right:6px; }
.ct_right .movie p.active{ display:block; }
/****************************************************************************/
.content .ct .ct2{ margin-bottom:40px; }
.ct2 .ct_left{ width:974px; overflow:hidden; }
.ct2 .ct_left .ct_left_hd h3{ width:126px; height:33px; background:url(../images/t01e545a4fb7e2f1432.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct2 .ct_left .ct_left_hd .more:hover{ color:#fd8d4e; }
.ct_left .ct_left_hd ul{ margin-top:18px; }
.ct_left .ct_left_hd ul li{ float:left; height:20px; border-right:1px solid #ccc; text-align:center; }
.ct_left .ct_left_hd ul a{ color:#333; padding:0 16px; }
.ct_left .ct_left_hd ul .tt.active{ color:#fd8d4e; }
.ct3 .ct_left .ct_left_hd ul .txte.active{ color:#fd8d4e; }
.ct2 .ct_left .ct2_l_main{ width:100%; height:288px; }
.ct2_first{ display:none; }
.ct2_first.active{ display:block; }
.ct2 .ct_left .ct2_l_main .ct2_one{ position:relative; width:100%; overflow:hidden; }
.ct2 .ct_left .ct2_l_main .ct2_one2{ position:relative; width:100%; overflow:hidden; }
.ct2 .ct_left .ct2_l_main .ct2_bg{ position:absolute; left:0; bottom:0; width:100%; height:22px; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct2 .ct_left .ct2_l_main .ct2_ct{ position:absolute; left:0; bottom:0; width:100%; line-height:22px; color:#fff; padding-left:10px; }
.ct2 .ct_left .ct2_l_main .ct2_txt{ width:100%; height:34px; background:#fff; }
.ct2 .ct_left .ct2_l_main .ct2_txt a{ line-height:34px; padding-left:10px; color:#444; }
.ct2 .ct_left .ct2_l_main .ct2_txt a:hover{ color:#fd8d4e; }
.ct2 .ct_left .ct2_l_main .ct2_one .ct2_bg_ct{ display:none; }
.ct2 .ct_left .ct2_l_main .ct2_one2 .ct2_bg_ct2{ display:none; }
.ct2 .ct_left .ct2_l_main .ct2_bg_bg{ position:absolute; left:0; bottom:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct2 .ct_left .ct2_l_main .ct2_bg_bt{ position:absolute; left:50%; top:50%; width:60px; height:60px; margin-left:-30px; margin-top:-30px; background:url(../images/t01925d53c7bd381a67.png) no-repeat; }
.ct2 .ct_left .ct2_l_main .ct2_one .ct2_bg_ct.active{ display:block; }
.ct2 .ct_left .ct2_l_main .ct2_one2 .ct2_bg_ct2.active{ display:block; }
.ct_right .ct_right_a{ display:block; position:relative; width:240px; height:120px; overflow:hidden; }
.ct_right .ct_right_a div{ position:absolute; left:0; bottom:0; width:100%; height:24px; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct_right .ct_right_a p{ position:absolute; left:0; bottom:0; width:100%; line-height:24px; color:#fff; padding-left:10px; }
.ct_right .information{ width:100%; height:154px; background:#fff; padding-top:13px; }
.ct_right .information li{ line-height:30px; padding-left:10px; }
.ct_right .information li:hover a{ color:#fd8d4e;}
.ct2 .ct_left .ct_left_hd .film{ width:92px; height:33px; background:url(../images/t0129ca06622c27b7cf.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct2 .ct_left .ct3_l_main{ width:100%; height:640px; }
.ct_right .movie p i{ position:absolute; left:0; bottom:0; width:36px; line-height:36px; text-align:center; font-style:normal; background:url(../images/t01044c56b0c2709fc9.png) no-repeat; color:#fff; font-size:16px; }
.ct_right .tv h4{ line-height:57px; font-size:24px; font-weight:normal; }
.ct_right .tv .tv_list{ width:220px; height:123px; background:#fff; padding:11px 0 0 20px; }
.ct_right .tv .tv_list p{ line-height:28px; }
.ct_right .tv .tv_list a:hover{ color:#fd8d4e; }
.ct2 .ct_left .ct_left_hd .mv{ width:62px; height:33px; background:url(../images/t01aa1603ad32b2b692.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct4 .ct4_left{ width:980px; }
.ct4 .ct4_first{ width:180px; height:134px; }
.ct4 .ct4_first:hover{box-shadow:1px 2px 1px #fd8d4e;}
.ct4_img{ position:relative; width:100%; height:100px; display:block; }
.ct4_img span{ position:absolute; left:0; top:0; width:82px; height:20px; background:url(../images/t019ef309043fe7ad3f.png) no-repeat; }
.ct4_img div{ position:absolute; left:0; bottom:0; width:100%; height:22px; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct4_img p{ position:absolute; left:0; bottom:0; width:100%; line-height:22px; color:#fff; text-align:center; }
.ct4_txt{ width:180px; line-height:34px; background:#fff; text-align:center; }
.ct4_txt a:hover{ color:#fd8d4e; }
.ct4 .ct4_right{ width:240px; }
.ct4 .ct4_right div{ width:100%; height:14px; padding-top:20px; }
.ct4 .ct4_right div a{ font-weight:bold; }
.ct4 .ct4_right div a:hover{ color:#fd8d4e; }
.ad{ width:100%; padding:42px 0; }
.ad img{ cursor:pointer; }
.ct2 .ct_left .ct_left_hd .variety{ width:64px; height:33px; background:url(../images/t01d73ff49670d753cb.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct2 .ct_left .ct2_l_main .ct2_txt2{ width:100%; height:77px; background:#fff; padding-top:12px; }
.ct2 .ct_left .ct2_l_main .ct2_txt2 a{ line-height:27px; padding-left:10px; }
.ct2 .ct_left .ct2_l_main .ct2_txt2 a:hover{ color:#fd8d4e; }
.ct2 .ct_left .ct2_l_main .ct2_txt2 p{ padding-left:10px; color:#888; }
.ct2 .ct_left .ct2_l_main .ct2_txt3{ width:100%; height:46px; background:#fff; padding-top:9px; }
.ct2 .ct_left .ct2_l_main .ct2_txt3 a{ line-height:22px; padding-left:10px; }
.ct2 .ct_left .ct2_l_main .ct2_txt3 a:hover{ color:#fd8d4e; }
.ct2 .ct_left .ct2_l_main .ct2_txt3 p{ padding-left:10px; color:#888; }
.ct_left_hd .animation{ width:64px; height:33px; background:url(../images/t01fda6c3d1225cd659.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct_left_hd .plan{ width:126px; height:33px; background:url(../images/t015d8edc299fad263f.png) no-repeat; margin-bottom:20px; margin-right:33px; }
.ct2_main{ display:none; height:410px; }
.ct2_main.active{ display:block; }
.ct2_main a{float:left; position:relative; }
.ct2_main a .ct2_main_bg{ position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); }
.ct2_main a .ct2_main_txt{ position:absolute; left:0; top:0; width:100%; height:100%; color:#fff; }
.ct2_main a .ct2_main_txt p{ font-size:20px; width:140px; line-height:26px; margin:30px 0 18px 29px; }
.ct2_main a .ct2_main_txt span{ display:block; margin-left:29px; }
.ct2_main .ct2_main_div{ width:621px;}
.ct2_main .pict{ display:none; }
.ct2_main .pict.active{ display:block; }
/************************************************************************footer*/
.footer{ width:100%; height:130px; text-align:center; }
.footer a{ padding:0 10px; line-height:27px; }
.footer a:hover{ color:#fd8d4e; }
/**********************************************************************position*/
.b1{ position:absolute; left:0; top:500px; width:50px; height:434px; background:url(../images/t01371c3de215e6bc09.png) 0 -625px no-repeat;}
.b2{ position:absolute; left:0; top:1940px; width:50px; height:460px; background:url(../images/t01371c3de215e6bc09.png) -260px -1993px no-repeat;}
.b3{ position:absolute; right:0; top:1035px; width:50px; height:480px; background:url(../images/t01371c3de215e6bc09.png) -1568px -964px no-repeat;}
.b4{ position:absolute; right:0; top:2860px; width:50px; height:520px; background:url(../images/t01371c3de215e6bc09.png) -1568px -2755px no-repeat;}
